<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./web/Assets/Style/styleHome.css">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/13a3dab689.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg bg-success sticky-top  text-white">
                <div class="container-fluid">
                    <div class=" container d-flex flex-wrap justify-content-right align-middle titleNav">
                        <h1 class="titleHomeh1">IronBank</h1>
                        <div class="align-middle">
                            <!-- <i class="fa-solid fa-building-columns fa-3x" id="logoBank"></i> -->
                            <img src="/favicon.png" id="logoBank" alt="logoBank">
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 dropdownNav">
                            <li class="nav-item link1">
                                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item link1">
                                <a class="nav-link text-white" href="#jubilaciones">Jubilacion</a>
                            </li>
                            <li class="nav-item link1">
                                <a class="nav-link text-white" href="#informacion">Informacion</a>
                            </li>
                            <li class="nav-item link1">
                                <a class="nav-link text-white" href="#tarjetas">Tarjetas</a>
                            </li>
                            <li class="nav-item link1">
                                <a class="nav-link text-white" href="#emprendedores">Emprendedores</a>
                            </li>
                            <li>
                                <a class="navbar-brand text-white boton-B-online" data-bs-toggle="modal"
                                    data-bs-target="#modalLogin">Banca Online </a>

                            </li>
                        </ul>

                    </div>

                </div>
            </nav>

        </header>

        <main>
            <!-- BANNER INICIO -->
            <div class="banner-principal">
                <div class="banner-principal-contenedor">
                    <div class="banner-principal-titulo">
                        <h2>Pay,invets,save you cash with a single bank</h2>
                        <div class="banner-principal-texto">
                            <a class="btn btn-primary" href="#" role="button">Sing up</a>
                            <p>The modern way to control your savings with just one app.</p>
                        </div>


                    </div>
                </div>
            </div>

            <!-- JUBILACIONES -->
            <div class="container marketing contenedor-info" id="jubilaciones">
                <h2 class="d-flex justify-content-center">Queremos Acompañarte en este momento</h2>
                <div class="container marketing">

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h3 class="featurette-heading fw-normal ">Si cobrás por Anses, traé tu jubilación a BBVA.
                                <span class="text-muted">Te recibimos con beneficios exclusivos.</span></h3>
                            <p class="lead fs-5">Te invitamos a conocer Mayores Activos: nuestro sitio de educación
                                financiera y digital.
                                Mayores Activos es una plataforma donde encontrarás las herramientas para aprender a
                                operar
                                en canales digitales y utilizar tu dinero sin concurrir a una sucursal.

                                Conocé más y empezá a practicar haciendo clic <a href="#">acá</a>.</p>
                        </div>
                        <div class="col-md-5">

                            <img src="./web/Assets/Img/jubilados4.webp" alt="imgJubilado" class="imghome">


                        </div>
                    </div>

                    <hr class="featurette-divider">


                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h3 class="featurette-heading fw-normal ">Asegurá tu tranquilidad con nosotros.<span
                                    class="text-muted"> Aprovechá hasta 50% de descuento en Seguros.</span></h3>
                            <p class="lead fs-5">Seguro Familia Vital. Por ser cliente del IronBank, disfruta de tu
                                Seguro
                                Familia Vital que te brinda respaldo económico y tranquilidad para ti y tu familia, en
                                caso
                                de sufrir una incapacidad total y permanente o en caso de fallecimiento por causa
                                natural o
                                por accidente, homicidio o suicidio. Para conocer mas hace click <a href="#">acá</a>.
                            </p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img src="./web/Assets/Img/familia-feliz.webp" alt="imgFamilia" class="imghome">

                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h3 class="featurette-heading fw-normal ">Asistencia y soporte en tu homebanking <span
                                    class="text-muted">¿No recordas tu Usuario y Clave Digital?</span></h3>
                            <p class="lead fs-5">En pocos pasos te ayudamos a generar, recuperar o desbloquear tu
                                usuario y
                                clave digital para operar a través de nuestros canales digitales sin moverte de tu casa.
                                Toda la informacion en el siguiente <a href="#">link</a>.</p>
                        </div>
                        <div class="col-md-5">
                            <img src="./web/Assets/Img/imagen-mujer-celular.jpg" alt="imgMujerCelular" class="imghome">

                        </div>
                    </div>

                    <hr class="featurette-divider">
                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h3 class="featurette-heading fw-normal "> Usá tu Tarjeta Santander como quieras.<span
                                    class="text-muted">Aprovecha todas las facilidades q te ofrecemos </span></h3>
                            <p class="lead fs-5">Vas a poder pagar online o en locales escaneando el QR desde la App
                                IronBank,
                                recargá tu celu las 24 horas y podes invertír desde $100 en Superfondos de forma muy
                                simple
                                desde el celu</p>
                        </div>
                        <div class="col-md-5">
                            <img src="./web/Assets/Img/tarjetascreditos2.jpg" alt="imgMujerCelular" class="imghome">

                        </div>
                    </div>
                </div>


            </div>

            <!-- INFORMACION IMPORTANTE -->
            <div class="container-fluid  banner" id="informacion">
                <div class="row  justify-content-center align-items-center containerInfo">
                    <div class="col-lg-3 banner-contenedor">
                        <div class="card text-dark cardbanner  ">
                            <img src="./web/Assets/Img/Programa-CodoaCodo-BBVA-Argentina-2022-Portada-min-1920x1278.webp"
                                class="card-img-top  " alt="...">
                            <div class="card-body">
                                <h4>
                                    BBVA y Ironbank en Argentina incorpora nuevos profesionales del programa Codo a Codo
                                    4.0
                                </h4>
                                <p class="card-text">
                                    Junto a BBVA, Ironbank en Argentina incorporará a 18 mujeres egresadas del Programa
                                    Codo a Codo,
                                    perteneciente al Ministerio de Educación del Gobierno de la Ciudad de Buenos Aires
                                    (GCBA), que se suman a los 13 jóvenes que se incorporaron en marzo de este año.
                                </p>

                            </div>
                            <a href="#"> <i class="fa-solid fa-eye"></i> Conoce mas</a>
                        </div>
                    </div>
                    <div class="col-lg-3 banner-contenedor">
                        <div class="card text-dark cardbanner ">
                            <img src="./web/Assets/Img/BBVA-ciberseguridad-redes-sociales.webp" class="card-img-top  "
                                alt="...">
                            <div class="card-body">
                                <h4>
                                    Cómo evitar estafas virtuales en las que se utilizan perfiles falsos
                                </h4>
                                <p class="card-text">
                                    Las víctimas son personas que necesitan asistencia vinculada al ‘homebanking’. En
                                    esta
                                    nota, IronBank explica el paso a paso y da una serie de consejos clave.
                                </p>

                            </div>
                            <a href="#"> <i class="fa-solid fa-eye"></i> Conoce mas</a>
                        </div>
                    </div>
                    <div class="col-lg-3 banner-contenedor">
                        <div class="card text-dark cardbanner ">
                            <img src="./web/Assets/Img/Aguinaldo.webp" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h4>
                                    Opciones para destinar el aguinaldo, ¿qué oportunidades de inversión existen?
                                </h4>
                                <p class="card-text">
                                    Con la mitad del año, llega el cobro del aguinaldo, ese medio salario que pone a los
                                    trabajadores en relación de dependencia a pensar qué hacer con él. Una buena
                                    planificación en el destino del aguinaldo puede ayudar a mejorar la
                                </p>

                            </div>
                            <a href="#"><i class="fa-solid fa-eye"></i> Conoce mas</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INFO TARJETAS -->
            <section id="tarjetas">
                <div class="container marketing col-12 contenedor-todo ">
                    <div class=" col-4 contenedor-infocard">
                        <div class="">
                            <div class="container contenedor-desc">
                                <h3 class="titulo-desc">TITANIUM</h3>
                                <img src="./web/Assets/Img/tarjetaCredito.png" alt="" class="tarjeta-desc">
                            </div>
                            <ul class="conoce-todas__item__list big">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/visa.png" alt="" class="logos-card-view1">
                                    </figure>
                                    <p>Tarjeta de Crédito IronBank Visa Titanium</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/card.png" alt="" class="logos-card-view2">
                                    </figure>
                                    <p>Tarjeta IronBank Visa Débito</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Atención personalizada</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/premios.png" alt="">
                                    </figure>
                                    <p class="p-padding">Beneficios exclusivos</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/viajes.png" alt="">
                                    </figure>
                                    <p class="p-padding">Asistencia en viajes y servicios preferenciales</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/prestamos.png" alt="">
                                    </figure>
                                    <p class="p-padding">Súper Préstamo Personal Pre-acordado listo para usar</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/inversion.png" alt="">
                                    </figure>
                                    <p class="p-padding">Cuenta Títulos para invertir de manera simple en Superfondos,
                                        Bonos, Acciones y Cedears.</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Servicio de cuenta con descubierto autorizado</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class=" col-4 contenedor-infocard">
                        <div class="">
                            <div class="container contenedor-desc">
                                <h3 class="titulo-desc">SILVER</h3>
                                <img src="./web/Assets/Img/tarjetaCredito.png" alt="" class="tarjeta-desc">
                            </div>
                            <ul class="conoce-todas__item__list big">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="/web/Assets/Img/visa.png" alt="" class="logos-card-view1">
                                    </figure>
                                    <p>Tarjeta de Crédito IronBank Visa Silver</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/card.png" alt="" class="logos-card-view2">
                                    </figure>
                                    <p>Tarjeta IronBank Visa Débito</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Atención personalizada</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/premios.png" alt="">
                                    </figure>
                                    <p class="p-padding">Beneficios exclusivos</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/viajes.png" alt="">
                                    </figure>
                                    <p class="p-padding">Asistencia en viajes y servicios preferenciales</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/prestamos.png" alt="">
                                    </figure>
                                    <p class="p-padding">Súper Préstamo Personal Pre-acordado listo para usar</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/inversion.png" alt="">
                                    </figure>
                                    <p class="p-padding">Cuenta Títulos para invertir de manera simple en Superfondos,
                                        Bonos, Acciones y Cedears.</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Servicio de cuenta con descubierto autorizado</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class=" col-4 contenedor-infocard">
                        <div class="">
                            <div class="container contenedor-desc">
                                <h3 class="titulo-desc">GOLD</h3>
                                <img src="./web/Assets/Img/tarjetaCredito.png" alt="" class="tarjeta-desc">
                            </div>
                            <ul class="conoce-todas__item__list big">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/visa.png" alt="" class="logos-card-view1">
                                    </figure>
                                    <p>Tarjeta de Crédito IronBank Visa Gold</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/card.png" alt="" class="logos-card-view2">
                                    </figure>
                                    <p>Tarjeta IronBank Visa Débito</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Atención personalizada</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/premios.png" alt="">
                                    </figure>
                                    <p class="p-padding">Beneficios exclusivos</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/viajes.png" alt="">
                                    </figure>
                                    <p class="p-padding">Asistencia en viajes y servicios preferenciales</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/prestamos.png" alt="">
                                    </figure>
                                    <p class="p-padding">Súper Préstamo Personal Pre-acordado listo para usar</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/inversion.png" alt="">
                                    </figure>
                                    <p class="p-padding">Cuenta Títulos para invertir de manera simple en Superfondos,
                                        Bonos, Acciones y Cedears.</p>
                                </li>
                                <hr class="featurette-divider">
                                <li>
                                    <figure class="conoce-todas__item__list__figure">
                                        <img src="./web/Assets/Img/accountcards.png" alt="">
                                    </figure>
                                    <p class="p-padding">Servicio de cuenta con descubierto autorizado</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- EMPRENDEDORES -->
            <div id="emprendedores">
                <div class="container marketing">
                    <hr class="featurette-divider">
                    <div class="row">
                        <div class="col-lg-4 card-emprendedor">
                            <img src="./web/Assets/Img/hombre-emprendedor.webp" alt="imghombreEmprendedor"
                                class="imgcard">

                            <h2 class="fw-normal hola">¿Qué es ser emprendedor?</h2>
                            <p>Tener claro qué es emprender es el primer paso para tener un negocio exitoso, por eso
                                IronBank te trae las características de un emprendedor.</p>
                            <p><a class="btn btn-success" href="#">Mas informacion »</a></p>
                        </div>
                        <div class="col-lg-4 card-emprendedor">
                            <img src="./web/Assets/Img/mujer-emprendedora.webp" alt="imgMujerEmprendedora"
                                class="imgcard">

                            <h2 class="fw-normal  hola">Recomendaciones para emprender</h2>
                            <p>IronBank te trae las principales recomendaciones para emprender un negocio con éxito y
                                cuáles son los beneficios de emprender.</p>
                            <p><a class="btn btn-success" href="#">Conoce mas »</a></p>
                        </div>
                        <div class="col-lg-4 card-emprendedor">
                            <img src="./web/Assets/Img/mujertrabajando.webp" alt="imgMujerTrabajando" class="imgcard">

                            <h2 class="fw-normal hola">Potencia tu emprendimiento</h2>
                            <p>Con el departamento de emprendedores de IronBank vas a recibir una asesoria completa de
                                como
                                poder mejorar un todos los aspectos tu emprendimiento
                            </p>
                            <div><a class="btn btn-success" href="#">Conoce mas »</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-emprendedor">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="5000">
                                <div class="col-lg-4 card-emprendedor">
                                    <img src="./web/Assets/Img/hombre-emprendedor.webp" alt="imghombreEmprendedor"
                                        class="imgcard">

                                    <h2 class="fw-normal">¿Qué es ser emprendedor?</h2>
                                    <p>Tener claro qué es emprender es el primer paso para tener un negocio exitoso, por
                                        eso IronBank te trae las características de un emprendedor.</p>
                                    <p><a class="btn btn-success" href="#">Mas informacion »</a></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 card-emprendedor" data-bs-interval="5000">
                                    <img src="./web/Assets/Img/mujer-emprendedora.webp" alt="imgMujerEmprendedora"
                                        class="imgcard">

                                    <h2 class="fw-normal">Recomendaciones para emprender</h2>
                                    <p>IronBank te trae las principales recomendaciones para emprender un negocio con
                                        éxito y cuáles son los beneficios de emprender.</p>
                                    <p><a class="btn btn-success" href="#">Conoce mas »</a></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 card-emprendedor" data-bs-interval="5000">
                                    <img src="./web/Assets/Img/mujertrabajando.webp" alt="imgMujerTrabajando"
                                        class="imgcard">

                                    <h2 class="fw-normal">Potencia tu emprendimiento</h2>
                                    <p>Con el departamento de emprendedores de IronBank vas a recibir una asesoria
                                        completa de como
                                        poder mejorar un todos los aspectos tu emprendimiento
                                    </p>
                                    <p><a class="btn btn-success" href="#">Conoce mas »</a></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="bg-success text-white pt-5 pb-4">
            <div class="container text-star ">
                <div class="row text-star ">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h4 class="text-uppercase mb-4 font-weight-bold titleFooter">IRONBANK
                            <img src="/favicon.png" class="logofooter" alt="logoBank">
                        </h4>
                        <p>
                            Creando Oportunidades</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Quienes Somos</h5>
                        <p>
                            <small> <a href="#" class="text-white" style="text-decoration:none;">Un buen lugar para
                                    trabajar</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Gestión para la
                                    comunidad</a></small>
                        </p>
                        <p>
                            <small> <a href="#" class="text-white" style="text-decoration:none;">Sitio exclusivo para la
                                    Prensa</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Información para
                                    Accionistas</a></small>
                        </p>


                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-star ">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                        <p>
                            <i class="fa-solid fa-house-user fa-1x "></i> Combate de los pozos 4112, CABA
                        </p>
                        <p>
                            <i class="fa-solid fa-envelope-open-text fa-1x "></i> ironbanck@gmail.com
                        </p>
                        <p>
                            <i class="fa-solid fa-phone fa-1x"></i> 0800-555-5689 / 0800-666-5878
                        </p>
                        <p>
                            <i class="fa-brands fa-whatsapp fa-1x"></i> 11-3896-8802 / 11-3896-8703
                        </p>


                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Link Utiles</h5>
                        <p>
                            <small><a href="#" class="text-white " style="text-decoration:none;">Código de Prácticas
                                    Bancarias</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Defensa al
                                    consumidor</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Ayuda
                                    Urgente</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Portal del Cliente
                                    Bancario</a></small>
                        </p>
                        <p>
                            <small><a href="#" class="text-white" style="text-decoration:none;">Protección de datos
                                    personales</a></small>
                        </p>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <p> Navarro Medina Facundo Ezequiel Cohort 29:
                            <a href="https://mindhubweb.com/" target="_blank" style="text-decoration:none;">
                                <strong class="linkMindhub">MINDHUB</strong>
                            </a>
                        </p>
                    </div>

                    <div class="col-md-5 col-lg-4 footerIcons">
                        <div class="text-center text-md-right">

                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                        <i class="fa-brands fa-facebook mr-3"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                        <i class="fa-brands fa-twitter mr-3"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                        <i class="fa-brands fa-instagram mr-3"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                        <i class="fa-brands fa-linkedin mr-3"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </footer>

        <!-- MODAL -->
        <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLabelLogin" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-contenedor ">
                    <div class="modal-header justify-content-center modal-fondo ">
                        <div class="wrapper">
                            <div class="title-text">
                                <div class="title login">
                                    <h5 class="modal-title" id="modalLabelLogin">Login Incio </h5>
                                </div>
                                <div class="title signup">
                                    <h5 class="modal-title" id="modalLabelLogin">Registro</h5>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                            <div class="modal-body">
                                <div class="form-container">
                                    <div class="slide-controls">
                                        <input type="radio" name="slide" id="login" checked>
                                        <input type="radio" name="slide" id="signup">
                                        <label for="login" class="slide login">Login</label>
                                        <label for="signup" class="slide signup">Registrar</label>
                                        <div class="slider-tab"></div>
                                    </div>
                                    <div class="form-inner">
                                        <form action="#" class="login">
                                            <div class="field">
                                                <input v-model="email" type="email" placeholder="Email Address"
                                                    required>
                                            </div>
                                            <div class="field">
                                                <input v-model="password" type="password" placeholder="Password"
                                                    required>
                                            </div>
                                            <div class="pass-link">
                                                <a href="#">Olvidaste password?</a>
                                            </div>
                                            <div class="field btn">
                                                <div class="btn-layer rounded-6"></div>
                                                <input type="submit" value="Login" @click.prevent="login()">

                                            </div>
                                            <div class="signup-link">
                                                No eres cliente IronBank? <a href="">Registrarse</a>
                                            </div>
                                        </form>
                                        <form action="#" class="signup">
                                            <div class="field">
                                                <input v-model="nameNewClient" type="text" placeholder="Nombre"
                                                    required>
                                            </div>
                                            <div class="field">
                                                <input v-model="lastNameNewClient" type="text" placeholder="Apellido"
                                                    required>
                                            </div>
                                            <div class="field">
                                                <input v-model="emailNewClient" type="email" placeholder="Email Address"
                                                    required>
                                            </div>
                                            <div class="field">
                                                <input v-model="passwordNewClient" type="password"
                                                    placeholder="Mayaro a 6 digitos" required>
                                            </div>
                                            <div class="field">
                                                <input type="password" placeholder="Confirm password" required>
                                            </div>
                                            <div class="field btn">
                                                <div class="btn-layer rounded-6"></div>
                                                <input type="submit" value="Signup" @click.prevent="newClient()">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./web/Assets/Js/index.js"></script>
</body>

</html>